@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rambla&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Oswald: "Oswald", sans-serif;
    --Rambla: "Rambla", sans-serif;
    --Tomato: #f68338;
    --Gray: #888888;
    --Gray1: #888;
    --White: #ffffff;
    --Black: #191919;
    --PureBlack: rgb(0, 0, 0);
    --webkit-font-smoothing: antialiased;
}

html::-webkit-scrollbar {
    width: 0.4rem;
}

html::-webkit-scrollbar-track {
    background: var(--Gray);
}

html::-webkit-scrollbar-thumb {
    background: var(--Tomato);
}